.full-height {
    height: 100vh;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  /* Center the login form vertically and horizontally */
  .containe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  